.searching {
    margin-top: 60px;
    display: flex;
}

.options {
    display: flex;
    padding: 10px;

    .t {
        transition: 0.5s;
    }

    .t:hover {
        background-color: var(--main-color);
        color: white;
    }
}